.favorite-dogs-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #cc6367;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.favorite-dogs {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
}