.mood-form {  
    display: flex;
    flex-direction: column;
    background: #cc6367;
    color: #E4AcB3;
    align-items: center;
}


.submit-button {
    margin: .5vw;
    border-radius: 1vw;
    padding: .5vw;
    border: #c52728;
    background: #c52728;
    color: #e5a9b0
}

.mood-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}