.mood-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    width: 15rem;
    background-color: #e5a9b0;
    margin: 3vw;
    padding: .5vw;
    flex-wrap: wrap;
    color: #4F6C77;
    font-family: 'Source Sans Pro', sans-serif;
}

.mood-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #cc6367;
    color: white;
  }

.personality-name {
    font-family: 'Lobster', cursive;
    color: black;
}  