.matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matches-swiper {
  width: 80%;
  background-color: #537983;
  border-radius: 8px;
}

.matches-header {
  font-family: "Lobster", cursive;
  color: black;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  justify-content: center;
}

:root {
  --swiper-theme-color: #000;
}
