html {
  background-color: #e5a9b0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 7rem;
  height: 7rem;
}

.app-title {
  color: #c52728;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
