html {
  background-color: #e5a9b0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.app-title {
  color: #c52728;
  font-family: 'Lobster', cursive;
  font-size: 5vh;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheader {
  font-family: 'Lobster', cursive;
  color: #4F6C77;
}
