.individual-featured-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  margin: 0.8vw;
  font-family: "Comfortaa", cursive;
}

.featured-dog-image {
  width: 7rem;
  height: 6rem;
  border: 1px solid black;
}

.favorite-image,
.info-icon {
  height: 2rem;
  width: 2rem;
}

.favorite-image {
  margin-right: 1rem;
}

.info-icon {
  margin-left: 1rem;
}

.dog-breed {
  align-items: center;
}
