.featured-dogs-container {
  display: flex;
  flex-direction: column;
  background-color: #537983;
  width: 90%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.featured-dog-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individual-featured-dog {
  background-color: white;
  border-radius: 8px;
}

.featured-dogs-header {
  color: black;
  text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF,
  -1px -1px 0 #FFF;
  font-family: "Lobster", cursive;
  margin-bottom: 1rem;
  font-size: 2rem;
}
