.featured {
  background-color: #F1AC88;
}

.featured-dogs-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
border-width:2px;
border-style:solid;
border-color:red;
background-color: #5457A6;
width: 80vw;
}


