body {
 background: #F1AC88
}

header {
  display: flex;
    justify-content: space-between;
}

.favorite-button {

  margin: .5vw;
  border-radius: 1vw;
  height: 4vw;
  border: #FC766A;
  background: #FC766A;
  color: white
}